<div class="d-flex align-items-center justify-content-center pb-5" style="height: inherit;">
  <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-4 px-4 mt-3">
    <div class="card text-center">
      <div class="card-header p-4 bg-secondary text-white">
        <h2>
          <i class="fa fa-arrows-alt-h" aria-hidden="true"></i> Query Chaincode
        </h2>
      </div>
      <div class="card-body">
        <form id="queryChainCodeForm" action="/queryChaincode" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="chaincodeNameInput" class="form-label">Chaincode Name</label>
            <input type="text" required class="form-control my-1" name="chaincodeNameInput" id="chaincodeNameInput"
              placeholder="Enter chaincode name" />
            <small class="form-text text-muted my-1">Example : car-details (underscores are not allowed)</small>
          </div>
          <div class="mb-3">
            <label for="chainCodeQueryParameters" class="form-label">Query Parameters</label>
            <input type="text" required class="form-control my-1" id="chainCodeQueryParameters"
              name="chainCodeQueryParameters" placeholder="Enter Chaincode Class Name"
              value='{"Args":["GetAllAssets"]}' />
            <small class="form-text text-muted my-1">Example : '{"Args":["GetAllAssets"]}'</small>
          </div>
          <div class="mb-3">
            <label for="channelSelection" class="form-label">Select Channel</label>
            <select name="channelSelection" id="channelSelection" class="form-select" aria-label="Select channel :">
              <option selected value="appchannel">appchannel</option>
            </select>
            <small class="form-text text-muted my-1">Select the channel to be used</small>
          </div>
          <div class="mb-3">
            <label for="peerSelection" class="form-label">Select Peer</label>
            <select name="peerSelection" id="peerSelection" class="form-select" aria-label="Select a Peer :">
              <option value="peer1">Peer1</option>
              <option selected value="peer2">Peer2</option>
            </select>
            <small class="form-text text-muted my-1">Select the peer on which the chaincode is to be queried</small>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary mt-2">
              <i class="fa fa-arrows-alt-h" aria-hidden="true"></i>
              Query Chaincode
              <span class="spinner-border spinner-border-sm queryChainCodeSpinner" role="status" aria-hidden="true"
                style="display: none;"></span>
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer text-muted">
        Query chaincode
      </div>
    </div>
  </div>
</div>

<script>
  $("#queryChainCodeForm").submit(function (e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.

    $(".queryChainCodeSpinner").show();
    $("#queryChainCodeForm input").attr("readonly", true);



    //console.log(user_json);

    $.ajax({
      type: "POST",
      url: "/queryChaincode",
      async: true,
      data: new FormData(document.getElementById("queryChainCodeForm")),
      processData: false,
      contentType: false,
      complete: function (data) {
        $(".queryChainCodeSpinner").hide();
        $("#queryChainCodeForm input").attr("readonly", false);
        var json = JSON.parse(data.responseText.replace(/\bNaN\b/g, "null"));
        console.log(json);
        if (json["status"] === "success") {
          swal.fire({
            heightAuto: false,
            width: "min-content",
            title: "Query Chaincode Status",
            html:
              '<div class="codeBlock" style="max-height:40vh; overflow-y:scroll; text-align:initial"><pre><code id="fileContent">' +
              JSON.stringify(JSON.parse(json["data"].Output), null, '\t') +
              "</code></pre></div>",
            //html: '<pre>' + JSON.stringify(JSON.parse(json["data"].Output), null, '\t') + '<pre>',
            icon: "success",
            confirmButtonText:
              '<i class="fa fa-thumbs-up"></i> Chaincode Queried Successfully!',
          });
          hljs.highlightAll();
          // apply HighlightJS
          var pres = document.querySelectorAll("pre>code");
          for (var i = 0; i < pres.length; i++) {
            hljs.highlightBlock(pres[i]);
          }

          // add HighlightJS-badge (options are optional)
          var options = {
            // optional
            contentSelector: ".codeBlock",

            // CSS class(es) used to render the copy icon.
            copyIconClass: "fas fa-copy",
            // CSS class(es) used to render the done icon.
            checkIconClass: "fas fa-check text-success",
          };
          window.highlightJsBadge(options);
        } else {
          swal.fire({
            heightAuto: false,
            title: "Query Chaincode Status",
            text: json["status"],
            icon: "fail",
            confirmButtonText:
              '<i class="fa fa-thumbs-down"></i> Chaincode Query Failed',
          });
        }
      },
    });
  });
</script>