<div class="container mb-4">
  <h1 class="my-4 p-3 text-white bg-secondary text-center">
    <i class="fa fa-file-text" aria-hidden="true"></i> All Certificates
  </h1>
  <div class="text-center tableContentFetchingSpinner">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="table-responsive">
    <table
      id="certificatesDataTable"
      class="table table-striped table-hover dt-responsive display nowrap text-center"
    ></table>
  </div>
</div>

<script>
  function sendAjaxReqToGetListOfCertificateFiles() {
    $("#certificatesDataTable").empty();
    $(".tableContentFetchingSpinner").show();
    $.ajax({
      type: "POST",
      url: "/getCertificateFileList",
      async: true,
      complete: function (data) {
        var json = JSON.parse(data.responseText.replace(/\bNaN\b/g, "null"));
        console.log(json);

        if (json["status"] === "success") {
          $("#certificatesDataTable").DataTable({
            destroy: true,
            data: json["data"],
            //pageResize: true,
            responsive: true,
            pageLength: 4,
            bAutoWidth: false,
            columns: [
              { title: "File Name" },
              { title: "Size" },
              { title: "Created" },
              { title: "Last Modified" },
              { title: "Download" },
              { title: "View" },
            ],
            initComplete: function (settings, json) {
              $(".tableContentFetchingSpinner").hide();
            },
          });
        } else {
          swal.fire({
            title: "Certificates Retrieval",
            text: json["status"],
            icon: "error",
            confirmButtonText: '<i class="fa fa-thumbs-down"></i> Failed',
          });
        }
      },
    });
  }
</script>

<script>
  function sendAjaxRequestToReadAndShowSelectedDataTableFile(buttonObject) {
    // show the loading spinner span tag for selected the button
    $(buttonObject).children(".allCertificatesFileViewSpinner").show();
    var fileName = buttonObject.getAttribute("data-link");

    var request_json = {
      fileName: fileName,
    };

    $.ajax({
      type: "POST",
      url: "/viewFileContent",
      async: true,
      dataType: "json",
      data: request_json,
      complete: function (data) {
        // hide the loading spinner span tag for selected the button
        $(buttonObject).children(".allCertificatesFileViewSpinner").hide();
        //console.log(JSON.parse(data.responseText));
        //var json = JSON.parse(data.responseText.replace(/\bNaN\b/g, "null"));
        var json = JSON.parse(data.responseText);
        if (json["status"] === "success") {
          swal
            .fire({
              title: "File Contents : " + fileName,
              width: "min-content",
              heightAuto: false,
              showCloseButton: true,
              html:
                '<div class="codeBlock" style="max-height:40vh; overflow-y:scroll; text-align:initial"><pre><code id="fileContent">' +
                json["data"] +
                "</code></pre></div>",
              icon: "success",
              showCancelButton: true,
              confirmButtonText:
                '<i class="fa fa-file"></i> Copy to Clipboard !',
              cancelButtonText: '<i class="fa fa-close"></i> Close',
            })
            .then((result) => {
              /* Read more about isConfirmed, isDenied below */
              if (result.isConfirmed) {
                var copyText = document.getElementById("fileContent");
                //copyText.select();
                //copyText.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(copyText.textContent);

                Swal.fire("Copied to Clipboard!", "", "success");
              }
            });

          hljs.highlightAll();
          // apply HighlightJS
          var pres = document.querySelectorAll("pre>code");
          for (var i = 0; i < pres.length; i++) {
            hljs.highlightBlock(pres[i]);
          }

          // add HighlightJS-badge (options are optional)
          var options = {
            // optional
            contentSelector: ".codeBlock",

            // CSS class(es) used to render the copy icon.
            copyIconClass: "fas fa-copy",
            // CSS class(es) used to render the done icon.
            checkIconClass: "fas fa-check text-success",
          };
          window.highlightJsBadge(options);
        } else {
          swal.fire({
            heightAuto: false,
            title: "File Read : " + fileName,
            text: json["status"],
            icon: "error",
            confirmButtonText:
              '<i class="fa fa-thumbs-down"></i> File Read Failed',
          });
        }
      },
    });
  }
</script>

<script>
  $(document).ready(function () {
    sendAjaxReqToGetListOfCertificateFiles();
  });
</script>
