<div class="d-flex justify-content-center align-items-center pb-5">
  <div class="d-flex flex-column">
    <a href="createChaincodeForm.html" id="createSmartContractMenuButton"
      ><i class="fa fa-plus" aria-hidden="true"></i> Create</a
    >
    <a href="chaincodeInstallForm.html"
      ><i class="fa fa-desktop" aria-hidden="true"></i> Install</a
    >
    <a href="chaincodeUpdateForm.html"
      ><i class="fa fa-refresh" aria-hidden="true"></i> Update</a
    >
    <a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
    <a href="#"><i class="fa fa-file" aria-hidden="true"></i> Manage Uploads</a>
    <a href="#"
      ><i class="fa fa-question-circle" aria-hidden="true"></i>Query</a
    >
    <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Invoke</a>
  </div>
  <div id="chainCodeManagementContentDiv"></div>
</div>

<script type="text/javascript" src="js/send_ajax_request.js"></script>

<script>
  $("#chainCodeManagementContentDiv").load(
    $("#createSmartContractMenuButton").attr("href")
  );
  $("a").click(function (e) {
    e.preventDefault();
    $("#chainCodeManagementContentDiv").load($(this).attr("href"));
  });
</script>
