<div class="container my-5">
  <h1 class="my-2 p-3 text-white bg-secondary text-center">
    <i class="fa fa-file-text" aria-hidden="true"></i> Network Connection
    Profile & Certificate Files
  </h1>

  <div class="row align-items-center">
    <div class="col-xl-4 p-xl-5 mt-2 mt-xl-0">
      <div class="card">
        <i
          class="mt-5 fa fa-file-text fa-5x text-center"
          aria-hidden="true"
        ></i>
        <div class="card-body mb-5">
          <h5 class="card-title text-center">Network Profile.json</h5>
          <p class="card-text text-center">
            This file contains the network connection profile as a json file
            useful for DApps to interact with the deployed blockchain network
          </p>
          <p class="text-center">
            <button
              data-link="../fabric_as_code_restapi/fabric_node_sdk_helper/network_profile.json"
              onclick="sendAjaxRequestToReadAndShowConnectionProfileFileContents(this)"
              class="btn btn-primary viewFileButton"
            >
              <i class="fa fa-eye" aria-hidden="true"></i> View File
              <span
                style="display: none;"
                class="spinner-border spinner-border-sm connectionProfileFileViewSpinner"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </p>
          <p class="text-center">
            <a
              href="../fabric_as_code_restapi/fabric_node_sdk_helper/network_profile.json"
              class="btn btn-primary"
              download
              ><i class="fa fa-download" aria-hidden="true"></i> Download
              network-profile.json</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 p-xl-5 mt-2 mt-xl-0">
      <div class="card">
        <i
          class="mt-5 fa fa-file-text fa-5x text-center"
          aria-hidden="true"
        ></i>
        <div class="card-body mb-5">
          <h5 class="card-title text-center">Orderer CA Certificate</h5>
          <p class="card-text text-center">
            This file contains the ordered CA certificate which gives necessary
            permissions for DApp to interact with the deployed blockchain's
            orderer service
          </p>
          <p class="text-center">
            <button
              data-link="../orgca/orderer/msp/tls/ca.crt"
              onclick="sendAjaxRequestToReadAndShowConnectionProfileFileContents(this)"
              class="btn btn-primary viewFileButton"
            >
              <i class="fa fa-eye" aria-hidden="true"></i> View File
              <span
                style="display: none;"
                class="spinner-border spinner-border-sm connectionProfileFileViewSpinner"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </p>
          <p class="text-center">
            <a
              href="../orgca/orderer/msp/tls/ca.crt"
              class="btn btn-primary"
              download
              ><i class="fa fa-download" aria-hidden="true"></i> Download
              Orderer CA Cert</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 p-xl-5 mt-2 mt-xl-0">
      <div class="card">
        <i
          class="mt-5 fa fa-file-text fa-5x text-center"
          aria-hidden="true"
        ></i>
        <div class="card-body mb-5">
          <h5 class="card-title text-center">Peer 2 CA Certificate</h5>
          <p class="card-text text-center">
            This File contains the peer2 CA certificate which gives necessary
            permissions for DApp to interact with the deployed blockchain's peer
            2 service
          </p>
          <p class="text-center">
            <button
              data-link="../orgca/peer2/msp/tls/ca.crt"
              onclick="sendAjaxRequestToReadAndShowConnectionProfileFileContents(this)"
              class="btn btn-primary viewFileButton"
            >
              <i class="fa fa-eye" aria-hidden="true"></i> View File
              <span
                style="display: none;"
                class="spinner-border spinner-border-sm connectionProfileFileViewSpinner"
                role="status"
                aria-hidden="true"
              ></span>
            </button>
          </p>
          <p class="text-center">
            <a
              href="../orgca/peer2/msp/tls/ca.crt"
              class="btn btn-primary"
              download
              ><i class="fa fa-download" aria-hidden="true"></i> Download Peer 2
              CA Cert</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function sendAjaxRequestToReadAndShowConnectionProfileFileContents(
    buttonObject
  ) {
    // show the loading spinner span tag for selected the button
    $(buttonObject).children(".connectionProfileFileViewSpinner").show();
    var fileName = buttonObject.getAttribute("data-link");

    var request_json = {
      fileName: fileName,
    };

    $.ajax({
      type: "POST",
      url: "/viewFileContent",
      async: true,
      dataType: "json",
      data: request_json,
      complete: function (data) {
        // hide the loading spinner span tag for selected the button
        $(buttonObject).children(".connectionProfileFileViewSpinner").hide();
        //console.log(JSON.parse(data.responseText));
        //var json = JSON.parse(data.responseText.replace(/\bNaN\b/g, "null"));
        var json = JSON.parse(data.responseText);
        if (json["status"] === "success") {
          swal
            .fire({
              title: "File Contents : " + fileName,
              width: "min-content",
              showCloseButton: true,
              html:
                '<div class="codeBlock" style="max-height:40vh; overflow-y:scroll; text-align:initial"><pre><code id="fileContent">' +
                json["data"] +
                "</code></pre></div>",
              icon: "success",
              showCancelButton: true,
              buttons: {
                confirm: {
                  //text: "OK",
                  value: true,
                  visible: true,
                  className: "",
                  closeModal: false,
                },
                cancel: {
                  //text: "Cancel",
                  value: false,
                  visible: true,
                  className: "",
                  closeModal: true,
                },
              },
              confirmButtonText:
                '<i class="fa fa-file"></i> Copy to Clipboard !',
              cancelButtonText: '<i class="fa fa-close"></i> Close',
            })
            .then((result) => {
              /* Read more about isConfirmed, isDenied below */
              if (result.isConfirmed) {
                var copyText = document.getElementById("fileContent");
                //copyText.select();
                //copyText.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(copyText.textContent);

                Swal.fire("Copied to Clipboard!", "", "success");
              }
            });

          hljs.highlightAll();
          // apply HighlightJS
          var pres = document.querySelectorAll("pre>code");
          for (var i = 0; i < pres.length; i++) {
            hljs.highlightBlock(pres[i]);
          }

          // add HighlightJS-badge (options are optional)
          var options = {
            // optional
            contentSelector: ".codeBlock",

            // CSS class(es) used to render the copy icon.
            copyIconClass: "fas fa-copy",
            // CSS class(es) used to render the done icon.
            checkIconClass: "fas fa-check text-success",
          };
          window.highlightJsBadge(options);
        } else {
          swal.fire({
            title: "File Read : " + fileName,
            text: json["status"],
            icon: "error",
            confirmButtonText:
              '<i class="fa fa-thumbs-down"></i> File Read Failed',
          });
        }
      },
    });
  }
</script>
