<div class="container-fluid">
  <div class="d-flex align-items-center">
    <div class="me-auto">
      <img
        class="img-responsive"
        src="images/articonf4.png"
        height="30"
        alt="Avatar"
      />
    </div>
    <div class="mx-2"><span>Powered by:</span></div>
    <div class="mx-2">
      <img
        class="img-responsive"
        src="images/bityoga5.png"
        height="30"
        alt="Avatar"
      />
    </div>
    <div class="ml-2">
      <img
        class="img-responsive"
        src="images/eu.png"
        height="30"
        alt="Avatar"
      />
    </div>
  </div>
</div>
