<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Dashboard Management Service for the TIC Blockchain as a Service (BaaS)"
    />
    <meta name="author" content="Anandhakumar Palanisamy" />

    <title>Tic Dashboard</title>
    <!-- <link rel="shortcut icon" type="image/png" href="images/favicon.ico" /> -->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="images/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="images/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="apple-mobile-web-app-title" content="Tic Dashboard" />
    <meta name="application-name" content="Tic Dashboard" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Bootstrap core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Font Awesome 6 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- jquery DataTable Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"
    />
    <!-- jquery DataTable Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/vs2015.min.css"
    />
    <!-- custom app CSS -->
    <link rel="stylesheet" href="css/app.css" />
    <style>
      /* Custom page CSS
-------------------------------------------------- */
      /* Not required for template or sticky footer method. */
    </style>
  </head>

  <body class="d-flex flex-column h-100">
    <header id="mainIndexPageHeader"></header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="pb-5" id="indexContentDiv" style="height: 100%;"></div>
    </main>

    <footer
      id="mainIndexPageFooter"
      class="footer mt-auto py-3 bg-light fixed-bottom"
    ></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="https://unpkg.com/highlightjs-badge/highlightjs-badge.min.js"></script>

    <script>
      function logout() {
        $.ajax({
          type: "POST",
          url: "/logout",
          async: true,
          complete: function (data) {
            console.log(data);
            window.location.href = "/";
          },
        });
      }
    </script>
    <script>
      function check_session() {
        $.ajax({
          type: "POST",
          url: "/",
          async: true,
          complete: function (data) {
            var json = JSON.parse(
              data.responseText.replace(/\bNaN\b/g, "null")
            );
            console.log(json);
            if (json["status"] === "session active") {
              $(".sessionActiveNavMenuBarItem").show();
              console.log("empty index checkSession");
              $("#indexContentDiv").empty();
              $("#indexContentDiv").load(
                $("#chainCodeManagement").attr("href")
              );
            } else {
              $(".sessionActiveNavMenuBarItem").hide();
              console.log("empty index checkSession");
              $("#indexContentDiv").empty();
              $("#indexContentDiv").load($("#loginForm").attr("href"));
            }
          },
        });
      }
    </script>
    <script>
      $("#mainIndexPageHeader").load("header.html");
      $("#mainIndexPageFooter").load("footer.html");
    </script>
    <script>
      $(document).ready(function () {
        console.log("empty index document ready");
        $("#indexContentDiv").empty();
        check_session();
      });
    </script>
  </body>
</html>
