<div class="container mb-4">
  <h1 class="my-4 p-3 text-white bg-secondary text-center">
    <i class="fa fa-eye" aria-hidden="true"></i> Failed Pushes
    <span id="pushedTransactionCount"></span>
  </h1>
  <form
    id="viewPushedTransactionDataForm"
    action="/getPushedTransactionDataFromSmartApi"
    enctype="multipart/form-data"
    method="POST"
  >
    <div class="row">
      <div
        class="mx-auto mb-3 col-12 col-sm-12 col-md-7 col-lg-6 col-xl-4 px-4 mt-3"
      >
        <!-- <label for="peerSelection" class="form-label text-center">Select Peer</label> -->
        <!-- <select
          name="peerSelection"
          id="peerSelection"
          class="form-select"
          aria-label="Select a Peer :"
        >
          <option value="peer1">Peer1</option>
          <option selected value="peer2">Peer2</option>
        </select> -->
        <!-- <small class="form-text text-muted my-1">Select the peer</small> -->
      </div>
      <div
        class="mx-auto mb-3 col-12 col-sm-12 col-md-7 col-lg-6 col-xl-4 px-4 mt-3"
      >
        <!-- <label for="typeSelection" class="form-label text-center">Select Type</label> -->
        <!-- <select
          name="typeSelection"
          id="typeSelection"
          class="form-select"
          aria-label="Select a Type :"
        >
          <option selected value="installed">Installed</option>
          <option value="instantiated">Instantiated</option>
        </select> -->
        <!-- <small class="form-text text-muted my-1">(installed/instantiated)</small> -->
      </div>
      <div
        class="mx-auto mb-3 col-12 col-sm-12 col-md-7 col-lg-6 col-xl-4 px-4 mt-3"
      >
        <!-- <label for="typeSelection" class="form-label text-center">Select Type</label> -->
        <!-- <select
          name="channelSelection"
          id="channelSelection"
          class="form-select"
          aria-label="Select a Channel :"
        >
          <option selected value="appchannel">appchannel</option>
        </select> -->
        <div class="input-group mb-3">
          <input
            type="text"
            id="useCaseNameInput"
            name="useCaseNameInput"
            class="form-control"
            placeholder="UseCase Name"
            aria-label="UseCase Name"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="useCaseNameInputButton"
          >
            Fetch
          </button>
        </div>
        <!-- <small class="form-text text-muted my-1">(installed/instantiated)</small> -->
      </div>
    </div>
  </form>
  <div class="text-center pushedTransactionListTableContentFetchingSpinner">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div id="dataTableDivContainer" class="table-responsive">
    <table
      id="pushedFailedTransactionListDataTable"
      class="table table-striped table-hover dt-responsive display nowrap text-center"
    ></table>
  </div>
</div>

<script>
  function parseOutputOfPushedTransactionDataObjectList(string) {
    var properties = string.split(", ");
    var obj = {};
    properties.forEach(function (property) {
      var tup = property.split(": ");
      obj[tup[0]] = tup[1];
    });
    return obj;
  }
  function parseFetchedTransactionDataOutput(output) {
    let parsedResponse = output.split(/\r?\n/);
    //console.log(parsedResponse);
    let finalChainCodeDetailsArray = [];
    for (chaincode of parsedResponse) {
      let parsedChaincodeDetails = parseOutputOfPushedTransactionDataObjectList(
        chaincode
      );
      if ("Name" in parsedChaincodeDetails) {
        finalChainCodeDetailsArray.push(Object.values(parsedChaincodeDetails));
      }
    }
    return finalChainCodeDetailsArray;
  }
  function highlightCode() {
    hljs.highlightAll();
    // apply HighlightJS
    var pres = document.querySelectorAll("pre>code");
    for (var i = 0; i < pres.length; i++) {
      hljs.highlightBlock(pres[i]);
    }

    // add HighlightJS-badge (options are optional)
    var options = {
      // optional
      contentSelector: ".codeBlock",

      // CSS class(es) used to render the copy icon.
      copyIconClass: "fas fa-copy",
      // CSS class(es) used to render the done icon.
      checkIconClass: "fas fa-check text-success",
    };
    window.highlightJsBadge(options);
  }
  function sendAjaxReqToGetListOfFailedPushedTransactionData() {
    $("#pushedFailedTransactionListDataTable").empty();
    $(".pushedTransactionListTableContentFetchingSpinner").show();
    $.ajax({
      type: "POST",
      url: "/getPushedFailedTransactionDataFromSmartApi",
      data: new FormData(
        document.getElementById("viewPushedTransactionDataForm")
      ),
      processData: false,
      contentType: false,
      async: true,
      complete: function (data) {
        var json = JSON.parse(data.responseText.replace(/\bNaN\b/g, "null"));
        console.log(json);
        //$("#pushedFailedTransactionListDataTable").DataTable({ destroy: true });
        $("#dataTableDivContainer").html("");
        $("#dataTableDivContainer").html(
          '<table id="pushedFailedTransactionListDataTable" class="table table-striped table-hover dt-responsive display nowrap text-center"></table>'
        );

        var dataTableColumns = [];

        if (json["status"] === "success") {
          if (json["data"] && json["data"].length > 0) {
            columnNames = Object.keys(json["data"][0]);
            for (var i in columnNames) {
              dataTableColumns.push({
                data: columnNames[i],
                title: columnNames[i],
              });
            }
          } else {
            dataTableColumns.push({ title: "Data", data: "data" });
          }

          console.log("dataTableColumns");
          console.log(dataTableColumns);
          $("#pushedFailedTransactionListDataTable").DataTable({
            data: json["data"],
            columns: dataTableColumns,
            scrollX: true,
            destroy: true,
            //pageResize: true,
            responsive: true,
            pageLength: 4,
            bAutoWidth: json["data"] && json["data"].length > 0 ? true : false,

            drawCallback: function (settings) {
              $(".pushedTransactionListTableContentFetchingSpinner").hide();
              if (json["data"]) {
                console.log(json["data"].length);
                $("#pushedTransactionCount").text(
                  " - " + String(json["data"].length)
                );
              } else {
                $("#pushedTransactionCount").text(" - " + String(0));
              }
            },
          });
        } else {
          swal.fire({
            title: "Failed Pushes Retrieval",
            text: json["status"],
            icon: "error",
            confirmButtonText: '<i class="fa fa-thumbs-down"></i> Failed',
          });
        }
      },
    });
  }
</script>

<script>
  // $(".form-select").on("change", function () {
  //   //alert(this.value);
  //   sendAjaxReqToGetListOfFailedPushedTransactionData();
  // });

  $("#useCaseNameInputButton").click(function () {
    sendAjaxReqToGetListOfFailedPushedTransactionData();
  });

  $("form").submit(function (e) {
    e.preventDefault();
  });
</script>

<script>
  $(document).ready(function () {
    sendAjaxReqToGetListOfFailedPushedTransactionData();
  });
</script>
