#indexContentDiv {
  padding: 60px 15px 0;
}

main {
  flex: 1 1 auto;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
  vertical-align: middle;
}
table {
  table-layout: fixed;
}

.even .sorting_1 {
  background-color: #000 !important;
  color: white !important;
}

.odd .sorting_1 {
  background-color: #000;
  color: white !important;
}
